{% extends 'base.html' %}

{% block content %}
  <div class="container mt-4">
    <h1 class="display-8 mb-3">Administrator Page</h1>
    <div class="list-group">
      <a href="/createuser" class="list-group-item list-group-item-action">Create User</a>
      <a href="/viewproducts" class="list-group-item list-group-item-action">View Products</a>
      <a href="/viewcustomers" class="list-group-item list-group-item-action">View Customers</a>
      <a href="/vieworders" class="list-group-item list-group-item-action">View Orders</a>
      <a href="/viewcategories" class="list-group-item list-group-item-action">View Categories</a>
    </div>
  </div>
{% endblock %}
