{% extends 'base.html' %}
{% block title %} Search {% endblock title %}
{% load cart %}
{% load custom_filter %}

{% block content %}
<div class="container-fluid mt-3">
    <div class="row">

        <!-- main content -->
        <div class="col-lg-9 mx-auto">
            <h1>Search</h1>

            <form id="searchForm">
                <input type="text" id="searchQuery" placeholder="Enter your search term..." class="form-control mb-2">
                <input type="submit" value="Search" class="btn btn-primary">
            </form>
            

            <div id="results" class="mt-4 mb-4">Results will appear here</div>

            <div class="row mx-auto" id="productList">
                {% for product in products %}
                <style nonce="{{ request.nonce }}">
                    .product-card {
                        width: 18rem;
                    }
                </style>
                <div class="card mx-auto mb-3 product-card" id={{product.id}} data-product-name="{{product.name}}">
                    <a href="/product/{{product.id}}">
                        <img class="card-img-top" src="{{product.image.url}}" alt="Card image cap">
                    </a>
                    <div class="card-body">
                        <a href="/product/{{product.id}}">
                            <p class="card-title">{{product.name}}</p>
                        </a>
                        <p class="card-text"><b>{{product.price|currency}}</b></p>
                    </div>
                    <!-- ... (rest of your card layout) ... -->
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<script nonce="{{ request.nonce }}">
    function InputValidate(searchTerm) {
        const blackList = [
            'alert',
            'prompt',
            'confirm',
            'onerror',
            'onload',
            'xss',
            'document.cookie',
            'document.write',
            '<!--',
            '-->',
            '.innerhtml'
        ];

        const termToLower = searchTerm.toLowerCase(); // Convert the searchTerm to lower case for case-insensitive matching

        return !blackList.some(term => termToLower.includes(term)); // Returns false if searchTerm contains any black-listed term
    }

    function OutputEncoding(unsafe) {
        return unsafe.replace(/&/g, "&amp;")
                    .replace(/'/g, "&#x27;")
                    .replace(/"/g, "&quot;")
                    .replace(/\//g, "&#x2F;")
                    .replace(/</g, "&lt;")
                    .replace(/>/g, "&gt;")
                    .replace(/`/g, "&#x60;")
                    .replace(/;/g, "&#x3B;")
                    .replace(/\(/g, "&#x28;")
                    .replace(/\)/g, "&#x29;")
                    .replace(/{/g, "&#x7B;")
                    .replace(/}/g, "&#x7D;");
    }
    

    function performSearch() {
        var searchTerm = document.getElementById('searchQuery').value;
        if (!InputValidate(searchTerm)) { // If searchTerm contains a black-listed term
            alert('Invalid search term detected!');
            return; // Exit the function
        }
        searchTerm = OutputEncoding(searchTerm);
        window.location.hash = encodeURIComponent(searchTerm);
        filterProducts(searchTerm);
    }

    function filterProducts(term) {
        var cards = document.querySelectorAll('.product-card');
        var resultsCount = 0;

        cards.forEach(function(card) {
            var productName = card.getAttribute('data-product-name');

            if (productName.toLowerCase().includes(term.toLowerCase())) {
                card.style.display = 'block';
                resultsCount++;
            } else {
                card.style.display = 'none';
            }
        });

        var resultsDiv = document.getElementById('results');
        if (resultsCount > 0) {
            resultsDiv.innerHTML = "You searched for: " + term;
        } else {
            resultsDiv.innerHTML = "No results found for: " + term;
        }
    }

    window.onload = function() {
        var hashTerm = decodeURIComponent(window.location.hash.substring(1));
        if (hashTerm) {
            document.getElementById('searchQuery').value = hashTerm;
            if (InputValidate(hashTerm)) { // Validate the hashTerm before using it
                filterProducts(hashTerm);
            } else {
                alert('Invalid search term detected in URL!');
            }
        }
    };
</script>

<script type="text/javascript" nonce="{{ request.nonce }}">
    document.getElementById('searchForm').addEventListener('submit', function(event) {
        event.preventDefault(); // Prevents the default form submission behavior
        performSearch();
    });

</script>

{% endblock %}
