{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2 class="display-4 mb-3">View Orders</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Product</th>
                <th>Customer</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Date</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.product.name }}</td>
                <td>{{ order.customer.email }}</td>
                <td>{{ order.quantity }}</td>
                <td>{{ order.price }}</td>
                <td>{{ order.date }}</td>
                <td>{% if order.status %}Paid{% else %}Pending{% endif %}</td>
                <td>
                    <a href="{% url 'editorder' order.id %}" class="btn btn-primary btn-sm">Edit Status</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
