{% extends 'base.html' %}

{% block content %}
    <div class="container mt-4">
        <h2 class="display-4 mb-3">All Users</h2>
        <ul class="list-group mb-4">
        {% for user in users %}
            <li class="list-group-item">
                <a href="{% url 'edituser' user.id %}">{{ user.first_name }} {{ user.last_name }}</a>
                <!-- Display the roles for this user -->
                {% for userrole in user.userrole_set.all %}
                    <p>{{ userrole.role.name }}</p>
                {% endfor %}
            </li>
        {% endfor %}

        </ul>
    </div>
{% endblock %}
