{% extends 'base.html' %}

{% block content %}
    <div class="container mt-4">
        <h2 class="display-4 mb-3">All Users</h2>
        {% for role in roles %}
            <h3>{{ role.name }}</h3>
            <ul class="list-group mb-4">
                {% for userrole in role.userrole_set.all %}
                    <li class="list-group-item">
                        <a href="{% url 'edituser' userrole.user.id %}">{{ userrole.user.first_name }} {{ userrole.user.last_name }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}
    </div>
{% endblock %}
